.pokemon-card {
    border: 1px, solid;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.pokemon-image {
width: 250px;
height: 250px;

}

.pokemon-details {
    text-align: left;
    margin-top: 20px;
}